@use "./components/variables";
@use "./components/reset";
@use "./components/globale";
@use "./components/toggle";
@use "./components/bio";
@use "./components/skills";
@use "./components/media";
@use "./components/projects";
@use "./components/clients";
@use "./components/contact";
@use "./components/footer";
@use "./components/theme";
@use "./components/responsive";
