/* Global Styles */

.section--with-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: var(--color-grey);
  justify-self: center;
  z-index: -1;
}
.section--with-bg {
  padding: 11rem 0;
  position: relative;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
}

.h2-heading {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-bold);
  grid-column: 1/-1;
  margin-bottom: 8.7rem;
  text-transform: uppercase;
}
.h3-heading {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2.5rem;
}
.navigation {
  transition: var(--transition-timing);
}
.navigation__list {
  display: flex;
  gap: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}

.navigation__link:hover,
.navigation__link:active {
  text-decoration: underline;
  font-weight: var(--color-text);
}
.container:has(.bio:target) .navigation__bio,
.container:has(.skills:target) .navigation__skills,
.container:has(.media:target) .navigation__media,
.container:has(.projects:target) .navigation__projects,
.container:has(.clients:target) .navigation__clients,
.container:has(.contact:target) .navigation__contact {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}
.burger-menu__checkbox {
  display: none;
}
