html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}
/* End CSS Reset */
body,
[type="submit"] {
  font-size: 1.6rem;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0;
}

.header {
  position: relative;
  padding: 3rem 0;
  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  border-bottom: 0.1rem solid var(--color-input-border);
  top: 0;
  z-index: -1;
  background-color: var(--color-background);
}

.container {
  display: grid;
  row-gap: 11rem;
  margin: 0 auto;
  max-width: var(--container-width);
  padding-inline: var(--gutter);
}

.video-loop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.15;
  z-index: -1;
}
